@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.custom-spin-animation {
  animation: spin 5s linear infinite; 
}

@keyframes bounce-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}